$lite:          #f0f0f0;
$lite-grey:     #919191;
$dark:			#1a1a1a;
$dark2:     	#3a3a41;
$dark3:         #101010;

$accent-r:		#E86152;
$accent-r-alt:	#D42F1C;
$accent-b:		#52D8E8;
$accent-b-alt:	#1CC2D4;
$accent-g:		#8DE852;
$accent-g-alt:	#66D41C;
$accent-p:		#AC52E8;
$accent-p-alt:	#8B1CD4;