// stealing cering's stuff from cardigan like a boss

@use './reset';
@use './color.scss' as color;
@use './fonts.scss' as font;
@use './util.scss' as util;

@use './stats.scss';

html {
	scroll-behavior: smooth;
	background-color: color.$dark;
	color: color.$lite;
	@include font.real(1.5em);
}

.title-screen {
	height: 100vh;
	@include util.flex($dir: column, $x-align: center, $gap: 30px);
	margin: 0 auto;

	&-text-wrapper {
		@include util.flex($dir: column, $x-align: center);
	}

	&-text {
		&-a {
			font-size: 5em;
			font-weight: 700;
			transform: skew(-15deg, 0deg);
		}

		&-b {
			font-size: 6em;
			font-weight: 700;
			transform: skew(-15deg, 0deg) translate(0px, -40px);
			background-image: linear-gradient(30deg, color.$accent-r 0%, color.$accent-p 80%);
			background-clip: text;
			background-size: 100%;
			-webkit-background-clip: text;
			-moz-background-clip: text;
			-webkit-text-fill-color: transparent; 
			-moz-text-fill-color: transparent;

			filter: drop-shadow(10px 10px 0px color.$dark2);
		}

		&-info {
			font-weight: 400;
		}
	}


}