@use './color.scss' as color;
@use './fonts.scss' as font;
@use './util.scss' as util;

@keyframes spin {
	100% {
		-webkit-transform: rotateZ(360deg);
		transform: rotateZ(360deg);
	}
}

.loading {
	@include util.flex($dir: column, $x-align: center, $align: center, $gap: 0px);
	margin: 0 auto;
	padding: 25px 50px 25px 50px;
	height: 100vh;

	&-text {
		font-weight: 600;
		font-size: 1.4em;
	}

	&-arrow {
		&-container {
			@include util.flex($dir: row, $x-align: center, $align: center);
			transform: translateY(-20px);
			transform-style: preserve-3d;
			position: absolute;
		}
		&-2 {
			margin: 0 auto;
			position: absolute;
			width: 620px;
			animation: spin 15s linear infinite;
			opacity: 0.1;
		}
	}
}


.stats-stars {
	@include util.flex($dir: row, $x-align: center, $gap: 20px);
}

.stats-wrapper {
	@include util.flex($dir: column, $x-align: center, $gap: 20px);
	margin: 0 auto;
	padding: 25px 50px 25px 50px;

	background-color: color.$dark;
	background-size: cover;
	z-index: 2;

}

.stats-title {
	@include util.flex($dir: column, $x-align: center, $gap: 5px);
	margin: 0 auto;
	z-index: 2;

	&-a {
		font-size: 4em;
		font-weight: 700;
		filter: drop-shadow(7px 7px 0px color.$dark2);
		padding: 0.15em;
	}

	&-b {
		font-size: 2em;
		font-weight: 600;
		padding-bottom: 0.15em;
	}
}

.metrics {
	@include util.flex($dir: column, $x-align: center, $gap: 40px);
	margin: 0 auto;
	width: 50%;
	text-shadow: 2px 2px color.$dark2;
}

.value {
	font-size: 2em;
	transform: skew(-5deg, 0deg);
}

.stars {
	width: 1em;
	margin-right: 20px;
}

.stats-list {
	@include util.flex($dir: column, $x-align: center, $gap: 40px);
	margin: 0 auto;
	width: 50%;
}

.stats-list li {
	@include util.flex($dir: column, $x-align: flex-start, $gap: 3px);
	align-self: flex-start;

	// ~~Stolen~~ Borrowed from metrics-item-r
	font-size: 1.25em;
	font-weight: 400;
	width: 60%;
	height: 9em;
	background-image: linear-gradient(110deg, color.$accent-p 50%, color.$accent-p-alt2 90%);
	padding: 20px 10% 20px 20px;
	border-radius: 10px;

	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow: hidden;
	filter:
		drop-shadow(-3px 0px color.$dark2) drop-shadow(3px 0px color.$dark2) drop-shadow(0px 3px color.$dark2) drop-shadow(0px -3px color.$dark2);

	// Stat icon formatting
	.stat-icon {
		opacity: 0.35;
		display: inline;
		position: absolute;
		height: 100%;
		top: 0%;
		right: 5%;
	}
}

.stats-list li:nth-child(even) {
	@include util.flex($dir: column, $wrap: nowrap, $x-align: flex-end, $gap: 3px);
	align-self: flex-end;
	text-align: end;

	background-image: linear-gradient(110deg, color.$accent-p-alt2 50%, color.$accent-p 90%);
	padding: 20px 20px 20px 10%;

	.stat-icon {
		left: 5%
	}
}

// Styling for the rendered panel to be turned into an image
.stats-modal {

	// Hide Sharable modal behind content at the top of page
	// WARNING: VERY FUNNY AND COOL TECH
	position: absolute;
	top: 0px;
	z-index: -999;

	margin: 0 auto;

	border: 1px solid color.$accent-p;
	padding: 50px;
	background-color: color.$dark;

	&-logo {
		@include util.flex($dir: column, $x-align: center, $gap: 100px);

		img {
			width: 50%;
			padding-bottom: 20px;
		}
	}

	&-grid {
		display: grid;
		grid-template-columns: 33% 33% 33%;
		column-gap: 20px;
		row-gap: 20px;
		padding-right: 1.3em;
	}

	&-item {
		@include util.flex($dir: column, $align: flex-start, $x-align: flex-start, $gap: 3px);
		align-self: flex-start;

		// ~~Stolen~~ Borrowed from metrics-item-r
		font-size: 1em;
		font-weight: 400;
		width: 100%;
		height: 8em;
		background-image: linear-gradient(110deg, color.$accent-p 50%, color.$accent-p-alt2 90%);
		padding: 20px 10% 20px 20px;
		border-radius: 5px;
		filter:
			drop-shadow(-3px 0px color.$dark2) drop-shadow(3px 0px color.$dark2) drop-shadow(0px 3px color.$dark2) drop-shadow(0px -3px color.$dark2);

		&-value {
			font-size: 2em;
			transform: skew(-5deg, 0deg);
			line-height: 1em;
			max-height: 2em;
			text-overflow: ellipsis;
			word-wrap: break-word;
			overflow: hidden;
		}

		&-flavor {
			text-align: right;
			font-size: 0.8em;
			font-weight: 300;
		}
	}

	// DANGER: VERY VERY BAD DO NOT TOUCH I REPEAT THIS SUCKS
	&-grades {
		@include util.flex($dir: row, $wrap: wrap, $gap: 60px);
		row-gap: 0px;

		&-container {
			height: 50px;
			flex-basis: 100px;

			img {
				display: block;
				position: relative;
				top: 20%;
				left: -30%;
			}

			a {
				position: relative;
				align-self: center;
				top: -80%;
				left: 60%;
				width: fit-content;
				font-weight: bold;
			}
		}
	}

	&-stars {
		position: relative;
		opacity: 1;
	}

	.heatmap-wrapper {
		@include util.flex($dir: column, $wrap: wrap, $x-align: center, $gap: 20px);

		padding-top: 1em;
	}

}

.calendar {

	td {
		width: 10px;
		height: 10px;
	}
}

.popup-overlay {
	backdrop-filter: blur(8px);
}

#share-modal {

	border: 1px solid color.$lite;
	border-radius: 5px;
	padding: 30px 30px;
	background-color: color.$dark;

	width: fit-content;

	display: block;
	margin: auto auto;

	img {
		display: block;
		margin: auto auto;

		width: 35em;
	}
}

.page-end {
	padding-bottom: 20em;
}