@use './color.scss' as color;
@use './fonts.scss' as font;
@use './util.scss' as util;

.stats-wrapper {
	@include util.flex($dir: column, $x-align: center, $gap: 20px);
	margin: 0 auto;
	padding: 25px 50px 25px 50px;
}

.stats-title {
	@include util.flex($dir: column, $x-align: center, $gap: 5px);
	margin: 0 auto;

	&-a {
		font-size: 4em;
		font-weight: 700;
		filter: drop-shadow(7px 7px 0px color.$dark2);
	}

	&-b {
		font-size: 2em;
		font-weight: 600;
	}
}

.metrics {
	@include util.flex($dir: column, $x-align: center, $gap: 40px);
	margin: 0 auto;
	width: 50%;

	&-item {
		&-r {
			font-size: 1.25em;
			font-weight: 400;
			background-image: linear-gradient(110deg, color.$accent-p 50%, color.$accent-p-alt 90%);
			padding: 20px 40% 20px 20px;
			border-radius: 5px;
		}
	}

	&-left {
		align-self: flex-start;
	}

	&-right {
		align-self: flex-end;
	}
}

.value {
	font-size: 2em;
	transform: skew(-5deg, 0deg);
}

.stars {
	width: 1em;
}

.stats-list {
	@include util.flex($dir: column, $x-align: center, $gap: 40px);
	margin: 0 auto;
	width: 50%;

}

li {
	align-self: flex-start;

	// ~~Stolen~~ Borrowed from metrics-item-r
	font-size: 1.25em;
	font-weight: 400;
	text-shadow: 2px 2px 1px color.$dark2;
	width: 60%;
	height: 300px;
	background-image: linear-gradient(110deg, color.$accent-p 50%, color.$accent-p-alt2 90%);
	padding: 20px 10% 20px 20px;
	border-radius: 5px;
}

li:nth-child(even) {
	align-self: flex-end;
	text-align: end;

	background-image: linear-gradient(110deg, color.$accent-p-alt2 50%, color.$accent-p 90%);
	padding: 20px 20px 20px 10%;
}